@import '../../../styles.scss';

.nav-bar-group-container {
  border-radius: 20px;
  background-color: #ffffff00;
  width: 81px;
  height: 90vh;
  box-shadow: 4px 4px 4px 0px rgba(25, 45, 30, 0.25);
}

.nav-bar-group {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #FAFFFD;
  border-radius: 20px;
  border: 2px solid transparent;
  background: linear-gradient(to right,$primary,rgba(67, 67, 255, 0)) border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.nav-bar-content {
  width: 100%;
  height: 100%;
  background-color: #FAFFFD;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-button {
  background-color: $background-a;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid $primary;
  box-shadow: 2px 2px 2px 0px rgba(25, 45, 30, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s;
}

.nav-button:hover {
  transform: translate(0px, -3px);
}

.nav-button-active {
  background-color: $primary;
}
